header {
    background-color: #020757;
    color: white;
    text-align: center;
    padding: 1px;
}

footer {
    background-color: #020757;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.conteudo-principal {
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

h2 {
    color: #020757;
}